<div class="modal__auto-display">
    <div class="modal__overlay"></div>
    <div class="modal__body">
      <div class="modal__inner">
        <div class="modal__inner-login">
          <div class="authen-form--introduction">
            <div class="authen-form-introduction__header">
              <h3>Chào Mừng Đến Với Trang Đăng Nhập Người Bán</h3>
              <p>Test pipe: lowercase: {{ adminLogin.userName |lowercase }}</p>
              <p>Test pipe: uppercase: {{ adminLogin.userName |uppercase }}</p>
              <p>Test age pipe: uppercase: {{ age | number:'0.0-2' | currency }}</p>
              <p>age {{age}}</p>
              <button class="btn btn--primary" (click)="AddAge()">phải có ng-template</button>
              <span *ngIf="age>18; else under18">bạn trên 18</span>
             <ng-template #under18> <span> bạn dưới 18</span></ng-template> 
             <h3>nên dùng if-else hoặc if-then hoặc switch case </h3>
             <td [ngSwitch]="age">
              <span *ngSwitchCase="18">
                        Yes: lớn hơn 18
              </span>
              <span *ngSwitchCase="0">
                      No: nhỏ hơn 18
              </span>
            </td>
             <a [routerLink]="['home']" routerLinkActive="router-link-active">đến home</a>
             <router-outlet name='test-angular-all'></router-outlet>
            </div>
            <div class="authen-form-introduction_img"></div>
          </div>
          <!--login form-->
          <div class="authen-form">
            <div class="authen-form--container">
              <div class="authen-form__header">
                <h3 class="authen-form__heading">Đăng Nhập</h3>
                <span class="authen-form__swicth-btn">Đăng Ký </span>
              </div>
              <form class="authen-form__form">
                <div class="authen-form__group">
                  <input    
                  (input)="inputUserName()" 
                    type="text"
                    class="authen-form__input"
                    placeholder="Email/ Số Điện Thoại/ Tên Đăng Nhập"/>
                  
                  <input [(ngModel)]="adminLogin.userName"  [ngModelOptions]="{standalone: true}" placeholder="nhập vào để test pipe">
                  {{ adminLogin.userName}}
                  <div class="authen-form__group">
                    <input
                    #Password
                      type="text"
                      class="authen-form__input"
                      placeholder="Mật Khẩu"
                    />
                  </div>
                </div>
              </form>
              <div class="authen-form--controls-login">
                <button class="btn btn--normal authen-form--controls-back">
                  Trở Lại
                </button>
                <button (click)="login()" class="btn btn--primary">Đăng Nhập</button>
                <button onclick="alert('alert')" class="btn btn--primary">alert</button>
              </div>
            </div>
          </div>
        
        </div>
       
      </div>
    </div>
  </div>