<header class="admin-header">
  <mat-toolbar color="primary">
    <div class="admin-header__top-shadow">
      <mat-toolbar-row>
        <div class="admin-header__inner">
          <div class="admin-header__inner-Logo">
            <div class="admin-header__inner-Logo--image">
              <span>
                <img
                  class="admin-header__inner-Logo--image-fix"
                  src="../../../../../assets/layout/admin/img/avatar-white-backgroud.png"
                  alt=""
                />
              </span>
            </div>
            <div class="admin-header__inner-Logo--text">
              <span class="admin-header__text--brand">S-Item</span>
              <span class="admin-header__text--text">Trang Người Bán</span>
            </div>
          </div>
          <button mat-raised-button color="warn" type="button" (click)="ChangeThemeFromHeader()">change</button>
          <button mat-raised-button color="accent" type="button" (click)="ChangeThemeFromHeader()">change</button>
          <button mat-raised-button color="primary" type="button" (click)="ChangeThemeFromHeader()">change</button>
          <div class="admin-header__inner-information">
            <div class="admin-header__admin-information">
              <div class="admin-header__admin-information-boder">
                <div class="admin-header__admin-information--avatar">
                  <img
                    class="admin-header__admin-information--avatar-img"
                    src="https://www.w3schools.com/css/paris.jpg"/>
                </div>
                <div class="admin-header__admin-information--name">
                  hoangson230998
                </div>
              </div>
              <div class="admin-header__admin--hover">
                <div class="admin-header__admin--hover-inner">
                  <div class="admin-header__admin--hover-shop-information">
                    <div class="admin-header__admin-shop-information--img">ảnh</div>
                    <div class="admin-header__admin-shop-information--text">Hồ Sơ Shop</div>
                  </div>
                  <div class="admin-header__admin--hover-logout">
                    <div class="admin-header__admin-logout--img">ảnh</div>
                    <div class="admin-header__admin-logout--text">Đăng Xuất</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="admin-header__other-information">
              <div class="admin-header__other-information--extra-tool">
                tool
              </div>
              <div class="admin-header__other-information--notify">notisssssssss</div>
            </div>
          </div>
        </div>
      </mat-toolbar-row>
    </div>
  </mat-toolbar>
</header>
