<div class="app" [class.alternative]="isTrue">
  <header class="header" style="z-index: 1">
    <app-admin-header (ChangeTheme)="ChangeTheme($event)"></app-admin-header>
  </header>
  <body style="z-index: 0">
    <mat-drawer-container class="admin-mat-drawer-container">
      <mat-drawer class="admin-mat-drawer" mode="side" opened>
        <div class="sidebar__container">
          <ul class="sidebar__menu">
            <li class="sidebar__menu--box">
              <!--mat -->
              <mat-accordion>
                <mat-expansion-panel
                  class="sidebar__menu--box-expansion-panel"
                  (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false"
                >
                  <mat-expansion-panel-header class="sidebar__menu--box-item">
                    <img
                      src="https://cf.shopee.vn/file/c15905d5a6284687c4a6ad00d0feb511"
                      alt=""
                      class="sidebar__menu--box-item-icon"
                    />
                    <span class="sidebar__menu--box-item-text">
                      Vận Chuyển
                    </span>
                  </mat-expansion-panel-header>
                  <ul class="sidebar__menu--box-submenu">
                    <li class="sidebar__submenu-item">
                      <a>I'm visible because I am open</a>
                    </li>
                    <li class="sidebar__submenu-item">
                      <a>I'm visible because I am open</a>
                    </li>
                    <li class="sidebar__submenu-item">
                      <a>I'm visible because I am open</a>
                    </li>
                    <li class="sidebar__submenu-item">
                      <a>I'm visible because I am open</a>
                    </li>
                  </ul>
                </mat-expansion-panel>
              </mat-accordion>
              <!---->
            </li>
          </ul>
        </div>
      </mat-drawer>
      <mat-drawer-content class="admin-mat-drawer-content">
        <div class="main-content">
          <mat-card class="main-column">
            <mat-card-header class="main-column__card-header">
              <mat-card-title>Danh sách cần làm</mat-card-title>
              <mat-card-subtitle>Những việc bạn sẽ phải làm</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-grid-list cols="4" rowHeight="2:1">
                
              </mat-grid-list>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="aside-column">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
      </div>
      </mat-drawer-content>
    </mat-drawer-container>

    <router-outlet></router-outlet>
  </body>
  <footer class="footer"></footer>
</div>

<!--modal layout-->
<div class="modal">
  <div class="modal__overlay"></div>
  <div class="modal__body">
    <div class="modal__inner">
      <!--Authen form-->
      <div class="authen-form">
        <div class="authen-form--container">
          <div class="authen-form__header">
            <h3 class="authen-form__heading">Đăng Ký</h3>
            <span class="authen-form__swicth-btn">Đăng Nhập</span>
          </div>
          <div class="authen-form__form">
            <div class="authen-form__group">
              <input
                type="text"
                class="authen-form__input"
                placeholder="Nhập Email"
              />
              <div class="authen-form__group">
                <input
                  type="text"
                  class="authen-form__input"
                  placeholder="Mật Khẩu"
                />
              </div>
              <div class="authen-form__group">
                <input
                  type="text"
                  class="authen-form__input"
                  placeholder="Nhập Lại Email"
                />
              </div>
            </div>
          </div>
          <div class="authen-form__aside">
            <p class="authen-form__policy-text">
              Bằng việc đăng kí, bạn đã đồng ý với S-item về
              <a href="" class="authen-form-text-link">Điều Khoản Dịch Vụ </a>
              &
              <a href="" class="authen-form-text-link"> Chính Sách Bảo Mật</a>
            </p>
          </div>
          <div class="authen-form--controls">
            <button class="btn btn--normal authen-form--controls-back">
              Trở Lại
            </button>
            <button class="btn btn--primary">Đăng Ký</button>
          </div>
        </div>
        <div class="authen-form--socials">
          <a
            href=""
            class="authen-form--socials--facebook btn btn--size-s btn--with-icon"
          >
            <i class="authen-form--socials-icon fab fa-facebook-square"></i>
            <span class="authen-form--socials-title">Kết Nối Với FaceBook</span>
          </a>
          <a
            href=""
            class="authen-form--socials--google btn btn--size-s btn--with-icon"
          >
            <span>
              <img
                src="https://img-authors.flaticon.com/google.jpg"
                alt=""
                class="authen-form--socials-icon authen-form--socials-icon--facebook"
              />
            </span>

            <span
              class="authen-form--socials-title authen-form--socials-title-google"
              >Kết Nối Với Google</span
            >
          </a>
        </div>
      </div>
      <!--login form-->
      <div class="authen-form">
        <div class="authen-form--container">
          <div class="authen-form__header">
            <h3 class="authen-form__heading">Đăng Nhập</h3>
            <span class="authen-form__swicth-btn">Đăng Ký</span>
          </div>
          <div class="authen-form__form">
            <div class="authen-form__group">
              <input
                type="text"
                class="authen-form__input"
                placeholder="Email/ Số Điện Thoại/ Tên Đăng Nhập"
              />
              <div class="authen-form__group">
                <input
                  type="text"
                  class="authen-form__input"
                  placeholder="Mật Khẩu"
                />
              </div>
            </div>
          </div>

          <div class="authen-form__aside">
            <div class="authen-form__help">
              <ul class="authen-form__help-list">
                <li
                  class="authen-form__help-item authen-form__help-item--separate"
                >
                  <a
                    href=""
                    class="authen-form__help-item--link authen-form__help-item--link-fotget-password"
                    >Quên Mật Khẩu</a
                  >
                </li>
                <li class="authen-form__help-item">
                  <a
                    href=""
                    class="authen-form__help-item--link authen-form__help-item--link-help"
                    >Cần Trợ Giúp?</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="authen-form--controls">
            <button class="btn btn--normal authen-form--controls-back">
              Trở Lại
            </button>
            <button class="btn btn--primary">Đăng Nhập</button>
          </div>
        </div>
        <div class="authen-form--socials">
          <a
            href=""
            class="authen-form--socials--facebook btn btn--size-s btn--with-icon"
          >
            <i class="authen-form--socials-icon fab fa-facebook-square"></i>
            <span class="authen-form--socials-title">Kết Nối Với FaceBook</span>
          </a>
          <a
            href=""
            class="authen-form--socials--google btn btn--size-s btn--with-icon"
          >
            <span>
              <img
                src="https://img-authors.flaticon.com/google.jpg"
                alt=""
                class="authen-form--socials-icon authen-form--socials-icon--facebook"
              />
            </span>

            <span
              class="authen-form--socials-title authen-form--socials-title-google"
              >Kết Nối Với Google</span
            >
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
