@import "../node_modules/@angular/material/theming";
@include mat-core();

$my-primary:mat-palette($mat-indigo);
$my-accent:mat-palette($mat-pink, A200, A100, A400);
$my-warn:    mat-palette($mat-red);
$my-primary-text:mat-palette($mat-grey);
$my-theme: mat-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,  
  )
));
@include angular-material-theme($my-theme);


// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$my-primary-text:mat-palette($mat-red);
$dark-theme:   mat-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
    
  )
));
.alternative{
    @include angular-material-theme($dark-theme);
}
